<!DOCTYPE html>
<html>
<h1>This is the heading</h1>

    <head>
  
    <title>Select paint color</title>
        <link href="style.css" rel="stylesheet" type="text/css"> 
    </head>

    <label class="switch">
    <input type="checkbox">
        <span class="slider"></span>
    </label>


    <label class="switch">
    <input type="checkbox" id="Red">
        <span class="slider"></span>
    </label>


    <label class="switch">
    <input type="checkbox" id="Red">
        <span class="slider"></span>
    </label>
  </div>
</body>
</html>

